.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 2em;
}

.form__label {
  display: grid;
  gap: 0.2em;
}

.form__input:disabled {
  background-color: var(--color-inactive);
}

.full {
  grid-column: 1 / 4;
}

.danger {
  background-color: var(--color-danger);
}
