.nav__link {
  display: flex;
  transition: all 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid transparent;
}

.nav__link:hover:not(.nav__link-active) {
  background-color: var(--color-hover);
}

.nav__link-active {
  background-color: var(--color-active);
  border-color: var(--color-primary);
}
