.toolbar {
  display: flex;
  justify-content: end;
  grid-column: 2 / 4;
  -webkit-app-region: drag;
}

.close {
  height: 1.6rem;
  width: 1.6rem;
  padding: 0;
  background-color: transparent;
  -webkit-app-region: no-drag;
}

.close:hover {
  background-color: var(--color-hover);
}

.close__icon {
  height: 100%;
  width: 100%;
}
