.toolbar {
  display: flex;
  justify-content: end;
}

.close {
  height: 1.6rem;
  width: 1.6rem;
  padding: 0;
  background-color: transparent;
}

.close:hover {
  background-color: var(--color-hover);
}

.close__icon {
  height: 100%;
  width: 100%;
}
